.editorial {
  background-color: #f8f8f8;
  padding: 2rem;
  color: black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  place-items: center;
  width: 80vw;
  border-radius: 10px;
  border: 2px solid grey;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
}
