.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav-link {
  color: aliceblue;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-link:hover {
  color: hsl(184, 80%, 74%);
}
